body {
    margin: 0;
    width: 100%;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #F3F3F3;
  }
  
  header {
    margin: 1em auto;
    text-align: center;
  }

  .container{
    width: 100%;
    margin: 50px auto 0 auto;
  }
  
  h1{
    font-size: 32px;
    font-weight: 400;
  }
  
  p{
    font-style: italic;
    font-size: 18px;
    font-weight: 200;
  }
  
  form {
    width: 80%;
    background-color:#1B1B39;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  .form-group {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
  }
  
  input, #dropdown {
    padding: 6px 12px;
    border-radius: 4px;
  }
  
  label {
    margin: 0 0 8px;
  }
  
  .radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  
  .radio-container .inline {
    margin:0;
    padding:0;
  }
  
  #submit {
    font-size: 16px;
    padding: 12px;
    background-color: #37AF65;
    border: none;
    color: #F3F3F3;
  }
    