:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

h1,h2 {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-align: center;
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 4.2rem;
}

.container {
    display: flex;
    flex-direction: column;
}
  
nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width:100%;
    background-color: #BE3144 ;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    color: var(--main-white);
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 2;
}
  
ul {
    display: flex;
    list-style: none;
    margin-right: 2rem;
}
  
li a {
    display: flex;
    text-decoration: none;
    font-size: 2.2rem;
    color: var(--main-white);
    padding: 2rem;
}

li a:hover {
    background: var(--main-blue);
}

img {
    width: 100%;
}

/* Welcome section */
.welcome-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    z-index: 0;
}

.welcome-section>p{
    color: var(--main-red);
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
}

/* Projects section */
.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-blue);
    padding:  10rem 2rem;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem;
    border-bottom: 0.2rem solid var(--main-white);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr)) ;
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 6rem;

}

.projects-grid a{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.projects-grid a:hover .code {
    color: #ff7f50;
    transition: color 0.3s ease-out;
}

.projects-grid a>p{
    color: var(--main-white)
}

.projects-grid a>span{
    color: var(--main-white)
}

.project-img {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    margin: 10px;
    padding: 10px 20px;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
}

.btn-show-all:hover {
    background: var(--main-red);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover >span>i {
    transform: translateX(2px);
    transition: transform 0.3s ease-out;
}

.btn-show-all >span>i {
    margin-left: 10px;
    transform: translateX(0);
}

a {
    text-decoration: none;
    color: var(--main-white);
}

/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
}
  
.contact-section-header > h2 {
    font-size: 6rem;
}
  
.contact-section-header > p {
    font-style: italic;
}
  
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
  
.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
  
.contact-details:hover {
    transform: translateY(8px);
}
  
/* Footer */
  
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
}
  
footer > p {
    margin: 2rem;
}
  
footer i {
    vertical-align: middle;
}

@media (max-width: 1200px) {
    html {
      font-size: 60%;
    }
}
  
@media (max-width: 980px) {
    html {
      font-size: 58%;
    }
}
  
@media (max-width: 460px) {
    html {
      font-size: 55%;
    }
    .projects-section-header {
        font-size: 4rem;
    }
    .contact-section-header > h2 {
        font-size: 4rem;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 490px) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
}

